header {
    background-image:url(grafiksx\ banner.png) ;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 400px;
  color: #ffffff;
  font-size: large;
  opacity: 0.8;
  border-radius: 10px;
  
}
ul.box li{ 
    display: inline-block;
    padding: 5px;
    margin-right: 100px;
    
 } 
 ul.box{
    list-style-type: none;
    margin-left: 45px;
}
 ul.qwer {
text-decoration: none;
 }
img {
    width: 80px;
}
ul.box li.sdf {
    margin-right: 140px ;
}


ul.box li.sdf:hover {
  background-color: #001a62;
  opacity: 0.4;
  border-radius: 10px;
}
  .hover:hover {
    --_p: 100%
  }
 a {
text-decoration: none;
color: #ffff;
 }
 hr {
  width: 70%;
 
 }
 html {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgb(217, 224, 226);
 }
 main div {
  display: inline-block;
  margin-left: 45px;
  margin-right: 45px;
  text-align: center;
  margin-top: 20px;
  border: 13px;
 }
 main div img {
  height: 300px;
  width: auto;
  border: 13px;
  border-color: #001cf1;
 }
 img.ayı {
  width: 900px;
  height: auto;
  margin-left:50px ;
  text-align: center;
  margin-right: 80px;
 }
 div.ter {
 margin-right: 70px;
  margin-left: 50px;
 }
footer {
  background-color: rgb(45, 77, 87);
  height: 350px;
  border-radius: 10px;
}
h2.ali {
  text-align: center;
  margin-top:10px ;
}
ul {
  list-style-type: none;
}
ul.qwer li {
  margin-bottom: 30px;
  margin-left: 50px;
}
li.raw {
  margin-top: 30px;
}
ul.qwer li.zar {
  margin-left: 1000px;
  margin-top: -200px;
}
.tel {
  background-color: rgb(111, 111, 111);
  margin-top: 10px;
  text-align: center; 
  border-radius: 10px;
}
.pil {
color: black;
}
a.arı {
  text-decoration: none;
  color: black;
}